[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pipenv = "*"

[packages]
click = "*"
jsonschema = "*"
cbor2 = "*"

tk205 = {editable = true,path = "."}