[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
atomicwrites = "*"
Jinja2 = "*"
markdown = "*"
doit = "*"
gitpython = "*"

[packages]
click = "*"
jsonschema = "*"
cbor2 = "*"
openpyxl = "*"
pyyaml = "*"
tk205 = {editable = true,path = "."}
schema205 = {editable = true,path = "schema-205"}
