[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pipenv = "*"
atomicwrites = "*"
Jinja2 = "*"
gitpython = "*"
markdown = "*"

[packages]
click = "*"
jsonschema = "*"
cbor2 = "*"
openpyxl = "*"
pyyaml = "*"

tk205 = {editable = true,path = "."}
