{% extends 'base.html' %}

{% block body %}
<div class="main">
    <div class="section">
        <div class="contained">
            <h1>ASHRAE Standard 205P</h1>
            <hr>
            <h2>Representation of Performance Data for HVAC&R and Other Facility Equipment</h2>
            <h3>Purpose</h3>
            <p>To facilitate automated sharing of equipment performance characteristics by defining data models and data serialization formats.</p>
            <h3>Scope</h3>
            <p>This standard applies to performance data for any HVAC&R or other facility system, equipment, or component.</p>

            <hr>
            <div class="footer"><p>Generated: {{timestamp}}</p></div>
        </div>
    </div>
</div>
{% endblock %}