<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ASHRAE Standard 205 Resource Files</title>
	<link rel="stylesheet" type="text/css" href="https://www.ashrae.org/Style%20Library/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</head>

<body>
	<div class="pageWrap">
	    {% include 'header_template.html' %}
		{% block body %}{% endblock %}
	</div>
</body>

</html>
