{% extends 'base.html' %}

{% block body %}
<div class="main">
	<div class="section">
		<div class="contained">
			<h2>{{headline}}</h2>
			<hr>
			{{markdown}}
			<hr>
			<ul class="accordion">
				{% for RS in content %}
				<li class>
					<span id="RS" >{{RS}}: {{content[RS]['title']}}</span>
					{% for file in content[RS]['files'] %}
						<div class="accordion-content">
							<div style="display: flex; justify-content: space-around; padding-top: 20px" class="row">
								<div class="col-md-5">
									<h4><a id="personal"></a>
										{{file}}
									</h4>
								</div>
								{% for file_type in content[RS]['files'][file] %}
								<div class="col-md-1.25">
									<a class="btn btn--hexagon-secondary" href="assets/examples/{{ file_type }}/{{RS}}/{{ content[RS]['files'][file][file_type] }}">
										{{ file_type }}
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endfor %}
					</li>
				{% endfor %}
				<li></li>
			</ul>
			<hr>
            <div class="footer"><p>Generated: {{timestamp}}</p></div>
		</div>
	</div>
</div>
	<script>
		$('span').click(function(){
			$(this).parent().toggleClass("is-active");
		});
	</script>
{% endblock %}
