{% extends 'base.html' %}

{% block body %}
<div class="main">
		<div class="section">
			<div class="contained">

				<h2>{{headline}}</h2>
				<hr>

				{% for item in content %}
				<div class="row">
				<div class="column lg-12">
					<h3 class="featureBlock-subHeading" style="margin-top: 6.5px;">{{item[0]}}</h3>
					<p>{{item[1]}}</p>
				</div>
				{% for file in item[2] %}
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="assets/examples/{{ file }}">{{ file }}</a>
					</div>
				{% endfor %}
				</div>
				{% endfor %}

				<div class="row">
					<!-- This must be here to even out the rows -->
				</div>

			</div>
		</div>
	</div>
{% endblock %}