{% extends 'base.html' %}

{% block body %}
<div class="main">
		<div class="section">
			<div class="contained">

				<h2>{{headline}}</h2>
				<hr>

				<ul class="accordion">
					{% for key, rs_item in content.items() %}
					<li class="is-active">
						<span id="RS" class="">{{ key }}</span>
						{% for item in rs_item %}
						<div class="accordion-content">
							<div style="display: flex; justify-content: space-around; align-items: center; padding-top: 20px">
								<h3><a id="personal"></a>{{item['title']}} : {{item['description']}}</h3>
								<a class="btn btn--hexagon-secondary" href="assets/templates/{{ item['template_file'] }}">Download</a>
							</div>
						</div>
						{% endfor %}
					</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
	<script>
		$('li').click(function(){
			$(this).toggleClass("is-active");
		});
	</script>
{% endblock %}