{% extends 'base.html' %}

{% block body %}
<div class="main">
    <div class="section">
        <div class="contained">
            <h2>Toolkit 205</h2>
            <hr>
            <h3>A toolkit to facilitate the adoption of the ASHRAE Standard 205P data exchange specification.</h3>
            <a class="btn btn--hexagon-secondary" href="https://github.com/open205/toolkit-205">Toolkit 205 Github Repository</a>
            {{content.md}}
            <hr>
            <div class="footer"><p>Generated: {{timestamp}}</p></div>
        </div>
    </div>
</div>
{% endblock %}