{% extends 'base.html' %}

{% block body %}
<div class="main">
		<div class="section">
			<div class="contained">

				<h2>Example Spreadsheet Files</h2>
				<hr>

				
				<div class="row">
				{% for file in RS0001 %}
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="{{ file }}">{{ file }}</a>
					</div>
				{% endfor %}
				</div>


				<div class="row">
				{% for file in RS0002 %}
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="{{ file }}">{{ file }}</a>
					</div>
				{% endfor %}
				</div>

				<div class="row">
				{% for file in RS0002_simple %}
				<div class="row">
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="{{ file }}">{{ file }}</a>
					</div>
				{% endfor %}
				</div>


				<div class="row"></div>
				{% for file in RS0003_continuous %}
				
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="{{ file }}">{{ file }}</a>
					</div>
				
				{% endfor %}


				{% for file in RS0003_discrete %}
				<div class="row">
					<div class="column lg-2" style="margin: auto;">
						<a class="btn btn--hexagon-secondary" href="{{ file }}">{{ file }}</a>
					</div>
				</div>
				{% endfor %}

				<div class="row">
					<!-- This must be here to even out the rows -->
				</div>

			</div>
		</div>
	</div>
{% endblock %}