<header class="headerMain">
    <div class="headerMain-util">
        <div class="logoMain">
            <a href="index.html">
                <img src="logo_ashrae.png">
            </a>
            <h1>ASHRAE Standard 205 Resource Files</h1>
        </div>
    </div>
    <div class="headerMain-main">
        <div>
            <div class="headerMain-mainZone02"></div>
            <nav id="navMain" class="navMain">
                <ul>
                    <li class="ismega">
                        <a href="schema.html">Open205 Schema</a> 
                    </li>
                    <li class="ismega">
                        <a href="examples.html">Example Spreadsheets</a>
                    </li>
                    <li class="ismega">
                        <a href="templates.html">Template Spreadsheets</a>
                    </li>
                    <li class="ismega">
                        <a href="https://github.com/open205/toolkit-205">Toolkit205</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>